Source: gstreamer-sharp-1
Section: cli-mono
Priority: optional
Maintainer: Debian CLI Libraries Team <pkg-cli-libs-team@lists.alioth.debian.org>
Uploaders: Andrés G. Aragoneses <knocte@gmail.com>
Build-Depends: autoconf,
               automake,
               debhelper (>= 7.0.50~),
               pkg-config,
               cli-common-dev (>= 0.5.7),
               libglib3.0-cil-dev (>= 2.99.2),

               # (gapi-3.0.pc)
               gtk-sharp3-gapi (>= 2.99.2),
#               autotools-dev,
#               gstreamer0.10-plugins-base,
#               gstreamer0.10-plugins-good,
#               libglib2.0-dev (>= 2.18.1),
#               libgstreamer-plugins-base0.10-dev (>= 0.10.25),
#               libgstreamer0.10-dev (>= 0.10.25),
#               libgtk2.0-cil-dev (>= 2.12),
#               libgtk2.0-dev (>= 2.17.3),
#               mono-devel (>= 2.4.3),
#               monodoc-base (>= 1.1),
#               nunit-console
Standards-Version: 3.9.2
Homepage: http://gstreamer.freedesktop.org/modules/gstreamer-sharp.html
Vcs-Git: git://git.debian.org/pkg-cli-libs/packages/gstreamer-sharp.git ?
Vcs-Browser: http://git.debian.org/?p=pkg-cli-libs/packages/gstreamer-sharp.git;a=summary ?

Package: libgstreamer1.0-cil
Architecture: any
Depends: libglib2.0-cil, ${misc:Depends}, ${shlibs:Depends}
#${cli:Depends}
Description: CLI bindings to GStreamer
 GStreamer is a streaming media framework, based on graphs of filters
 which operate on media data.  Applications using this library can do
 anything from real-time sound processing to playing videos, and just
 about anything else media-related.  Its plugin-based architecture means
 that new data types or processing capabilities can be added simply by
 installing new plug-ins.
 .
 This package contains the GStreamer# assembly to access GStreamer from CLI
 applications.

Package: libgstreamer1.0-cil-dev
Architecture: all
Depends: libgstreamer1.0-cil (<< ${source:Upstream-Version}.1~),
         libgstreamer1.0-cil (>= ${source:Upstream-Version}),
         ${misc:Depends}
#${cli:Depends}
Description: CLI bindings to GStreamer - development files
 GStreamer is a streaming media framework, based on graphs of filters
 which operate on media data.  Applications using this library can do
 anything from real-time sound processing to playing videos, and just
 about anything else media-related.  Its plugin-based architecture means
 that new data types or processing capabilities can be added simply by
 installing new plug-ins.
 .
 This package contains the development files required to compile CLI
 applications and libraries which use GStreamer#.

#Package: monodoc-gstreamer-manual
#Architecture: all
#Section: doc
#Depends: monodoc-manual, ${misc:Depends}
#Description: CLI bindings to GStreamer - developer documentation
# GStreamer is a streaming media framework, based on graphs of filters
# which operate on media data.  Applications using this library can do
# anything from real-time sound processing to playing videos, and just
# about anything else media-related.  Its plugin-based architecture means
# that new data types or processing capabilities can be added simply by
# installing new plug-ins.
# .
# This package contains the compiled XML documentation for use with Monodoc.
